/*Importación de las fuentes a utilizar*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');

/*Quitar los bordes del cuerpo*/
body {
    margin: 0px;
}

/*Menu de navegación (Contenedor)*/
nav {
    display: flex;
    background-color: #E5EBB2;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/*Menu de navegación (Elementos)*/
.navegacion {
    font-family: 'Oleo Script', cursive;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/*Mosue sobre los elementos de navegación*/
.navegacion:hover {
    background-color: #F8C4B4;
    padding: 10px;
}

/*Contenedor principal del home y sobre nosotros*/
.Principal {
    background-color: #F8C4B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/*Contenedor principal de las otras secciones*/
.PrincipalSection {
    background-color: #FF8787;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*Texto para titulos*/
.Titulo {
    font-family: 'Oleo Script', cursive;
    font-size: 60px;
    margin: 10px;
}

/*Texto para subtitulos*/
.Subtitulo {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin: 10px;
}

/*Contenedores para las secciones de galeria, los cupones y promociones*/
.CFoto,
.CCupon {
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-width: 5px;
    padding: 10px;
    align-items: flex-start;
    background-color: #F8C4B4;
}

/*Contenedor para las fotos en general*/
.Fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

/*Contendor para las fotos que llevan un texto en la parte inferior*/
.FotoProm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Tamaño de las fotos*/
.Foto img,
.FotoProm img {
    height: 250px;
}

/*Texto para las fotos*/
.FotoProm p {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin: 10px;
}

/*Lista de precios y tamaños*/
.FotoProm ul {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin: 10px;
}

/*Efecto mouse sobre las fotos con texto*/
.FotoProm:hover {
    background-color: #BCE29E;
    padding: 20px;
}

/*Formateo de la segunda sección hacia la izquierda de la galeria y menu*/
.CFoto:nth-of-type(2) {
    background-color: #E5EBB2;
    align-items: flex-end;
}

/*Formateo de la segunda sección hacia la izquierda de las promociones*/
.CCupon:nth-of-type(2) {
    align-items: flex-end;
}

/*Contenedor para las redes sociales*/
#Redes {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    gap: 50px
}

/*Tamaño de los iconos de redes*/
#Redes img {
    height: 50px;
}

/*Contenedor para las reseñas*/
#Reseñas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #BCE29E;
    padding: 20px;
    gap: 50px
}

/*Contenedor para la calificación, el usuario y el comentario de una reseña*/
.Reseña {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: #E5EBB2;
    padding: 10px;
}

/*Formato del texto de reseñas*/
.Reseña p {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin: 10px;
}

/*Efecto de mouse para las reseñas*/
.Reseña:hover {
    background-color: #F8C4B4;
}

/*Contenedor del pié de página*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #E5EBB2;
}

/*Formato del texto del pie de página*/
footer p {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin: 10px;
}